#users{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.people{
    border: solid #f0d8dc;
    margin-bottom: 3%;
    border-radius: 5px;
    text-align: center;
}
.title{
    text-align: center;
    color: blue;
}
.add-user{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 6px 12px;
    background-color: blue;
    color: #ffff;
    margin: 2% 4%;
    cursor: pointer;

}